@import "_bases.scss";

.boardPict{
    margin: 1em 0;
}
.codeCont{
    background-color: #272822;
}

.stripeRow{
	background: url('/images/stripe.jpg') no-repeat;

    height: 256px;
    .ttl{color:#fff;}

}