@import "_bases.scss";

.stripeRow{
    background:transparent image-url('/images/stripe.png') left top no-repeat;
    height: 256px;
    .ttl{color:#fff;}

}

.mainCont{margin-top: 60px;}

// controller page styles
// pointer styles
#pointerCont{
    @extend .bbx;
    border: 1px solid black;
    width: 100%;
    height: 400px;
}
#pointer{
    width: 20px;
    height: 20px;
    background-color: #555;
    border-radius: 50%
}
