/*! jQuery UI - v1.10.3 - 2013-07-04
* http://jqueryui.com
* Includes: jquery.ui.core.css
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ital {
  font-style: italic;
}

.cf:before,
.cf:after,
.row:before, .row:after {
  display: table;
  content: " ";
}

.cf:after,
.row:after {
  clear: both;
}

.cf,
.row {
  *zoom: 1;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.lh50 {
  line-height: 50px;
}

.scroll {
  overflow-x: scroll;
}

.scrollY {
  overflow-y: scroll;
}

.posR {
  position: relative;
}

.mb1 {
  margin-bottom: 1em;
}

.mb4 {
  margin-bottom: 4em;
}

.bbx, #pointerCont {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mainCont {
  margin-top: 60px;
}

#pointerCont {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

#pointer {
  width: 20px;
  height: 20px;
  background-color: #555;
  border-radius: 50%;
}

.nodebotLogo {
  background-color: #F0DB4F;
  text-align: center;
  margin-top: 30px;
}

.ital {
  font-style: italic;
}

.cf:before,
.cf:after,
.row:before, .row:after {
  display: table;
  content: " ";
}

.cf:after,
.row:after {
  clear: both;
}

.cf,
.row {
  *zoom: 1;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.lh50 {
  line-height: 50px;
}

.scroll {
  overflow-x: scroll;
}

.scrollY {
  overflow-y: scroll;
}

.posR {
  position: relative;
}

.mb1 {
  margin-bottom: 1em;
}

.mb4 {
  margin-bottom: 4em;
}

.bbx, #pointerCont {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.boardPict {
  margin: 1em 0;
}

.codeCont {
  background-color: #272822;
}

.stripeRow {
  background: url("/images/stripe.jpg") no-repeat;
  height: 256px;
}
.stripeRow .ttl {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */